<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="author" content="Salty Butt">
        <meta name="description" content="A localized Salty Bet game for a SAB@CC event.">
        <title>Salty Butt</title>
        <link rel="stylesheet" type="text/css" href="master.css"/>
        <link href='http://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>


    </head>
    <body>
        <!-- Begin Header/Navigation -->
        <div id="header">
            <div style="position:absolute; left:0">
                <a href="/" id="logo"><img src="SALTYBETheader2.png"></a>
            </div>
            <!--<div style="display:inline-block; margin:6px; font-size:20px;">
                <span id="tournamentname">Duane's Fantabulous Salt Emporium</span>
            </div>-->
        </div>

        <!-- Status Bar -->
        <div id="status">
                <span id="betstatus">Waiting for the next match.</span> <!-- Sonic the hedgehog wins! Payouts to Team Red. red color-->
                <input type="hidden" id="u" name="u" value ="318134" />
                <input type="hidden" id="b" name="b" value ="500" />
        </div>
        
            <form id="fightcard" name="fightcard" action="/" method="post" onsubmit="return validateForm()">
        <div id="bottomcontent">
            <!-- Wager Information -->
            <div id="wagerwrapper">
							<span style="font-size:1.2em;">Place your bet - <span class="hudtext"> Salty Bucks </span><span class="greentext">$</span><span id="balance" class="greentext"><%= $db.exec("SELECT Bucks FROM Users WHERE Name = \'#{session[:username]}\'").getvalue(0,0) %></span></span>

                    <br/>
                    <input type="number" name="wager" min="0" id="wager" placeholder="Wager"/><br/>
                    <ul>
                        <li class="menu"><span class="hudtext"> Last Bet </span><span id="lastbet">
													<% if $winner == nil %>
														<span id="lastbet" style="display: inline;"><%= (session[:lastbet] != nil and session[:lastbet] != 0) ? "$"+session[:lastbet].to_s : "N/A"  %> <% if session[:lastbet] != 0 and session[:lastbet] != nil %> on <% if session[:lastpick].to_i==1 %><span class="bluetext"><% else %><span class="redtext"><% end %><%= $players[session[:lastpick].to_i] %></span><% end %></span></span>
													<% else %>
														<span id="lastbet" style="display: inline;">Winner: <% if $winner == 0 %><span class="redtext"><% elsif $winner == 1 %><span class="bluetext"><% end %><%= $players[$winner] %></span></span>
													<% end %></li>
													<li class="menu"><span class="hudtext"> Odds </span><span id="odds"><span id="odds" style="display: inline;"><% if $betting or session[:lastbet] == 0 or session[:lastbet] == nil %>N/A<% else %><% if $odds[0] != 1 %><span class="redtext"><% else %><span><% end %><%= $odds[0] %></span>:<% if $odds[1] != 1 %><span class="bluetext"><% else %><span><% end %><%= $odds[1] %></span> (<span class="greentext">$<%= session[:payout] %></span>)</span></span><% end %></li>
                    </ul>
            </div>

            <!-- Fight Card -->
                <input type="hidden" id="selectedplayer" name="selectedplayer" />
                <!-- Red Card -->
                <div class="betcard left redborder">
                    <div class="left">
											<span id="p1name" class="redtext"><%= $players[0] %></span><br/><br/>
												<span class="field" id="player1wager"><% if !$betting %><%= $bets[0] %><% else %>-<% end %></span><br/>
                    </div>
                    <div class="right">
    
                        <span class="submit">
                            <input name="player1" type="submit" value="" class="betbuttonred"/>
                        </span>
                    </div>
                </div>
                <!-- Blue Card -->
                <div class="betcard right blueborder">
                    <div class="left">
                        <span class="submit">
                            <input name="player2" type="submit" value="" class="betbuttonblue"/>
                        </span>
                    </div>
                    <div class="right">
											<span id="p2name" class="bluetext"><%= $players[1] %></span><br/><br/>
												<span class="field" id="player2wager"><% if !$betting %><%= $bets[1] %><% else %>-<% end %></span><br/>
                    </div>
    
                </div>
                
            </form>
            <!-- End Fight Card -->
        </div>
        <!-- Begin Footer -->
        <div id="footer">
            <div class="footerleft">
                <a href="/logout">Logout</a>
            </div>
            <div class="footerright">
							<%= session[:username] %> (#<%= playerRank(session[:username]) %>)
            </div>
            <div class="footercenter">
                <a href="http://www.ccorgs.com/orgs/sab">Sign into the event!</a>
            </div>
        </div> <!-- End Footer -->

        <script>
        function validateForm()
        {
            var bet = document.forms["fightcard"]["wager"].value;
            if (bet==null || bet=="")
            {
                //alert("You must put in a bet!");
                return false;
            }
        }
        </script>
        <script type="text/javascript" src="script.js"></script>        
    </body>
</html>
